@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center my-4">
    <h2 class="display-3">Bienvenido al mundo de las palabras 📖</h2>
    <p class="fs-4">Donde cada página es una nueva aventura y cada historia una puerta a lo desconocido.</p>
    <img src="img/lya.jpg" alt="Alternate Text" />
</div>
